<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Spacenet - Register</title>
    <link rel='shortcut icon' href='./img/icons/favicon.ico' type='image/x-icon' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@300;400;600&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='../css/bootstrap-reboot.min.css' />
    <link rel='stylesheet' href='../css/index.min.css' />
  </head>
  <body>
    <header class='header'>
      <div class='header__logo'>
        <a href='/'><img src='../img/logo.svg' alt='spacenet_logo' /></a>
      </div>

      <div class='header__logout'>
        <a href='/logout'><img src='../img/icons/logout.png' alt='logout' /></a>
      </div>
    </header>

    <section class='main-blocks'>
      <div class='main-blocks__block'>
        <div class='main-blocks__header'>My account</div>

        {{! <form class='main-blocks__download-form' action='/download' method='post' enctype='multipart/form-data'>
          <label class='main-blocks__download-label' for='download-input'>
            <img src='../img/icons/plus-circle.svg' alt='plus' /></label>
          <input class='main-blocks__download-input' id='download-input' type='file' name='avatar' />
          <input class='main-blocks__download-submit' type='submit' value='save' />
        </form> }}

        <div class='main-blocks__photo'><img src='{{avatar}}' alt='user' />
          <form class='main-blocks__download-form'>
            <label class='main-blocks__download-label' for='download-input'>
              <img src='../img/icons/plus-circle.svg' alt='plus' /></label>
            <input class='main-blocks__download-input' id='download-input' type='file' />
          </form></div>
        <div class='main-blocks__username'><a href='/profile/{{id}}'>{{userName}}</a></div>
        <form class='credential-form' action='#'>
          <label class='setting-lbl' for='name'>name <span class='credential-form-name'></span></label>
          <input name='username' class='setting' id='name' type='text' value='{{userName}}' />
          <label class='setting-lbl' for='age'>age <span class='credential-form-age'></span></label>
          <input name='age' class='setting' id='age' type='text' value='{{age}}' />
          <label class='setting-lbl' for='about'>about <span class='credential-form-about'></span></label>
          <input name='about' class='setting' id='about' type='text' value='{{about}}' />
          <button class='btn btn_submit btn_submit_profile'>save changes</button>
        </form>
      </div>

      <div class='main-blocks__block'>
        <div class='main-blocks__header'>Users</div>
        <div class='main-blocks__userlist'>

          {{! <div class='main-blocks__user'>
            <img class='main-blocks__avatar' src='../img/user_1.jpeg' alt='photo' />
            <div class='main-blocks__name'>p.boy</div>
            <div class='main-blocks__userdate'>18.08.2022</div>
          </div> }}

        </div>
        <button class='btn btn_submit btn_submit_users'>Get userlist</button>
      </div>

      <div class='main-blocks__block'>
        <div class='main-blocks__header'>Live Chat</div>
        <div class='main-blocks__chatlist'>
          <div class='main-blocks__msg main-blocks__msg-other'>
            <img class='main-blocks__avatar' src='../img/user_1.jpeg' alt='photo' />
            <div class='main-blocks__msg-wrapper'>
              <div class='main-blocks__msg-username'>pussy.boy</div>
              <div class='main-blocks__msg-text'>Hello everybody!</div>
            </div>
          </div>
          <div class='main-blocks__msg main-blocks__msg-me'>
            <div class='main-blocks__msg-wrapper'>
              <div class='main-blocks__msg-username'>Bohdan</div>
              <div class='main-blocks__msg-text'>
                Hello everybody! Hello everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello
                everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello everybody!Hello
                everybody!Hello everybody!Hello everybody!
              </div>
            </div>
            <img class='main-blocks__avatar' src='../img/user_photo.png' alt='photo' />
          </div>
          <div class='main-blocks__msg main-blocks__msg-me'>
            <div class='main-blocks__msg-wrapper'>
              <div class='main-blocks__msg-username'>Bohdan</div>
              <div class='main-blocks__msg-text'>
                Hello everybody! Hello everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello
                everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello everybody!Hello
                everybody!Hello everybody!Hello everybody!
              </div>
            </div>
            <img class='main-blocks__avatar' src='../img/user_photo.png' alt='photo' />
          </div>
          <div class='main-blocks__msg main-blocks__msg-me'>
            <div class='main-blocks__msg-wrapper'>
              <div class='main-blocks__msg-username'>Bohdan</div>
              <div class='main-blocks__msg-text'>
                Hello everybody! Hello everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello
                everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello everybody!Hello
                everybody!Hello everybody!Hello everybody!
              </div>
            </div>
            <img class='main-blocks__avatar' src='../img/user_photo.png' alt='photo' />
          </div>
          <div class='main-blocks__msg main-blocks__msg-me'>
            <div class='main-blocks__msg-wrapper'>
              <div class='main-blocks__msg-username'>Bohdan</div>
              <div class='main-blocks__msg-text'>
                Hello everybody! Hello everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello
                everybody!Hello everybody!Hello everybody!Hello everybody! Hello everybody! Hello everybody!Hello
                everybody!Hello everybody!Hello everybody!
              </div>
            </div>
            <img class='main-blocks__avatar' src='../img/user_photo.png' alt='photo' />
          </div>
        </div>
        <form class='main-blocks__chatform' action='#'>
          <input type='text' />
          <button></button>
        </form>
      </div>
    </section>

    <footer class='footer'>
      <div class='copyright'>2022 Planet Earth</div>
    </footer>

    <script src='../js/main.js'></script>
  </body>
</html>